<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="#">
    <title>users</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <b><a class="text-white" id="logName" sec:authentication="name"></a></b>
                <a class="text-white">with roles:</a>
                <a class="text-white" sec:authentication="authorities"></a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-2">
            <ul class="nav flex-column nav-pills" id="myTab1" role="tablist" aria-orientation="vertical">
                <li class="nav-item">
                    <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab"
                       aria-controls="admin" aria-selected="true">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab"
                       aria-controls="user" aria-selected="false">User</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            <div class="tab-content" id="navTabContent">
                <div class="tab-pane show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                    <h1 class="h1"><b>Admin panel</b></h1>
                    <ul class="nav nav-tabs mt-3" id="myTab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="users-tab" data-toggle="tab" href="#usersList" role="tab"
                               aria-controls="usersList" aria-selected="true">User List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-tab" data-toggle="tab" href="#newUser" role="tab"
                               aria-controls="newUser" aria-selected="false">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="usersList" role="tabpanel"
                             aria-labelledby="users-tab">
                            <div class="card">
                                <h5 class="card-header"><b>All users</b></h5>
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <table id="table" class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Mail</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="new-tab">
                            <div class="card">
                                <h5 class="card-header"><b>Add new user</b></h5>
                                <div class="card-body text-center">
                                    <form class="container w-25" id="addForm">
                                        <div class="form-group">
                                            <label for="name"><b>Name</b></label>
                                            <input type="text" class="form-control" id="name"
                                                   placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email"><b>Mail</b></label>
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password"><b>Password</b></label>
                                            <input type="password" class="form-control"
                                                   id="password"
                                                   placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="Nadmin"><b>Give admin role</b></label>
                                            <input type="checkbox" checked class="form-control" id ="Nadmin">
                                        </div>
                                        <button type="submit" class="btn btn-success">Add user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <h1 class="h1"><b>User page info</b></h1>
                    <div class="card">
                        <h5 class="card-header"><b>About user</b>
                        </h5>
                        <div class="card-body">
                            <div class="container-fluid">
                                <table id="info" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Mail</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <form>
                    <div class="form-group">
                        <label for="Did"><b>Id</b></label>
                        <input type="text" class="form-control" id="Did"
                               placeholder="Id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="Dname"><b>Name</b></label>
                        <input type="text" class="form-control" id="Dname"
                               placeholder="Name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="Demail"><b>Mail</b></label>
                        <input type="email" class="form-control" id="Demail"
                               placeholder="Email" disabled>
                    </div>
                    <div class="form-group">
                        <label for="Droles"><b>Roles</b></label>
                        <select multiple class="form-control" th:name="roles" id="Droles" disabled>
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="Dbut" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body text-center">
                    <div class="form-group">
                        <label for="Uid"><b>ID</b></label>
                        <input type="text" class="form-control" id="Uid" readonly>
                    </div>
                    <div class="form-group">
                        <label for="Uname"><b>Name</b></label>
                        <input type="text" class="form-control" id="Uname"
                               placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Uemail"><b>Mail</b></label>
                        <input type="email" class="form-control" id="Uemail"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="Upassword"><b>Password</b></label>
                        <input type="password" class="form-control"
                               id="Upassword"
                               placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="Uadmin"><b>Give admin role</b></label>
                        <input type="checkbox" checked class="form-control" id ="Uadmin">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="Ubut" data-dismiss="modal">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        $.ajax({
            type: "GET",
            url: "rest/get/" + id,
            dataType: 'json',
            success: function (user) {
                $(".modal-body #Did").val(user.id);
                $(".modal-body #Dname").val(user.name);
                $(".modal-body #Demail").val(user.mail);
            }
        })
    })
</script>
<script>
    $('#Dbut').on('click', function (e) {
        let id = $('#Did').val();
        $.ajax({
            type: "DELETE",
            url: "/rest/del",
            contentType: "application/json",
            data: JSON.stringify({'id': id}),
            success: function () {
                $('#table tbody tr').remove();
                $('#users-tab').removeClass('active');
                $('.nav-tabs li:first-child a').tab('show')
            }
        });
    })
</script>
<script>
    $('#updateModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let id = button.data('id');
        $.ajax({
            type: "GET",
            url: "rest/get/" + id,
            dataType: 'json',
            success: function (user) {
                $(".modal-body #Uid").val(user.id);
                $(".modal-body #Uname").val(user.name);
                $(".modal-body #Upassword").val(user.password);
                $(".modal-body #Uemail").val(user.mail);
            }
        });

        $('#Ubut').on('click', function (e) {
            let name = $('#Uname').val();
            let mail = $('#Uemail').val();
            let password = $('#Upassword').val();
            let admin = $("#Uadmin").is(":checked") ? "true" : "false";
            $.ajax({
                url: "rest/save",
                type: "POST",
                contentType: "application/json",
                dataType: 'json',
                data: JSON.stringify({
                    'id': id,
                    'name': name, 'mail': mail, 'password': password, 'admin': admin
                }),
                success: function () {
                    $('#table tbody tr').remove();
                    $('#users-tab').removeClass('active');
                    $('.nav-tabs li:first-child a').tab('show')
                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
    })
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "rest/table",
            success: function (result) {
                $.each(result, function (i, user) {
                    let userRoles = user.roles;
                    let roles = "";
                    for (let role of userRoles) {
                        roles += " " + role.role;
                    }
                    let userRow = '<tr>' +
                        '<td>' + user.id + '</td>' +
                        '<td>' + user.name + '</td>' +
                        '<td>' + user.mail + '</td>' +
                        '<td>' + roles + '</td>' +
                        '<td>' + '<button type="button" class="btn btn-info" data-toggle="modal" data-id="' + user.id + '" data-target="#updateModal">Edit </button>' + '</td>' +
                        '<td>' + '<button type="button" class="btn btn-danger" data-toggle="modal" data-id="' + user.id + '" data-target="#deleteModal">Delete</button>' +
                        '</tr>';
                    $('#table tbody').append(userRow);
                });
            }
        });

        $.ajax({
            type: "GET",
            url: "rest/getAuth/",
            dataType: 'json',
            success: function (info) {
                let userRoles = info.roles;
                let roles = "";
                for (let role of userRoles) {
                    roles += " " + role.role;
                }
                let infoRow = '<tr>' +
                    '<td>' + info.id + '</td>' +
                    '<td>' + info.name + '</td>' +
                    '<td>' + info.mail + '</td>' +
                    '<td>' + roles + '</td>' +
                    '</tr>';
                $('#info tbody').append(infoRow);
            }
        });
    });
</script>
<script>
    $('#users-tab').on('shown.bs.tab', function (e) {
        $.ajax({
            type: "GET",
            url: "rest/table",
            success: function (result) {
                $.each(result, function (i, user) {
                    let userRoles = user.roles;
                    let roles = "";
                    for (let role of userRoles) {
                        roles += " " + role.role;
                    }
                    let userRow = '<tr>' +
                        '<td>' + user.id + '</td>' +
                        '<td>' + user.name + '</td>' +
                        '<td>' + user.mail + '</td>' +
                        '<td>' + roles + '</td>' +
                        '<td>' + '<button type="button" class="btn btn-info" data-toggle="modal" data-id="' + user.id + '" data-target="#updateModal">Edit </button>' + '</td>' +
                        '<td>' + '<button type="button" class="btn btn-danger" data-toggle="modal" data-id="' + user.id + '" data-target="#deleteModal">Delete</button>' +
                        '</tr>';
                    $('#table tbody').append(userRow);
                });
            }
        });
    })
</script>
<script>
    $('#users-tab').on('hide.bs.tab', function (e) {
        $('#table tbody tr').remove();
    })
</script>
<script>
    $('#addForm').submit(function (e) {
        e.preventDefault();
        let name = $('#name').val();
        let mail = $('#email').val();
        let password = $('#password').val();
        let admin = $("#Nadmin").is(":checked") ? "true" : "false";
        $.ajax({
            url: "rest/save",
            type: "POST",
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify({
                'name': name, 'mail': mail, 'password': password, 'admin': admin
            }),
            success: function () {
                $('#addForm')[0].reset();
            },
            error: function (error) {
                console.log(error)
            }
        });
    })
</script>
</body>
</html>