<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<!--{/WEB-INF/views/users}-->
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="mail">Enter mail: </label>
    <input type="text" th:field="*{mail}" id="mail"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>Give admin role
    <input type="checkbox" th:field="*{admin}"/>
    </label>
    <input type="submit" value="Create"/>
</form>
</body>
</html>